set timeout=10
set default=0

probe --set rootuuid --fs-uuid ($root)

# Kali Live boot
menuentry "Kali Live system (amd64) - 2019.2" --hotkey=l {
    isofile="/boot/iso/kali-linux-2019.2-amd64.iso"
    loopback loop "${isofile}"
    linux (loop)/live/vmlinuz boot=live components FSUUID=${rootuuid} quiet splash noeject findiso=${isofile}
    initrd (loop)/live/initrd.img
}
