set timeout=10
set default=0

probe --set rootuuid --fs-uuid ($root)

# Kali Live boot
menuentry "Kali Live system (amd64) - 2019.2" --hotkey=l {
    isofile="/boot/iso/kali-linux-2019.2-amd64.iso"
    loopback loop "${isofile}"
    linux (loop)/live/vmlinuz boot=live components FSUUID=${rootuuid} quiet splash noeject findiso=${isofile}
    initrd (loop)/live/initrd.img
}

# Based on the output of `grub-syslinux2cfg /EFI/BOOT/syslinux.cfg`
menuentry 'Tails' --id 'live' {
    isofile="/boot/iso/tails-amd64-6.3.iso"
    loopback loop "${isofile}"
    echo "Loading the Linux kernel..."
    linux (loop)/live/vmlinuz boot=live config live-media=removable nopersistence noprompt timezone=Etc/UTC splash noautologin module=Tails slab_nomerge slub_debug=FZ mce=0 vsyscall=none init_on_free=1 mds=full,nosmt page_alloc.shuffle=1 randomize_kstack_offset=on FSUUID=${rootuuid} quiet findiso=${isofile}
    echo "Loading the initramfs..."
    initrd (loop)/live/initrd.img
    echo "Booting..."
    boot
}
